@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


.body {
  width: 1200px;
}

@media only screen and (max-width: 575px) {
  .container div {
      font-size: 14px;

}
}

@media only screen and (max-width: 575px) {
  .container p {
      font-size: 14px;

}
}

@media only screen and (max-width: 575px) {
  .container {
      font-size: 14px;

}
}

/* Global Styles */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


    header {
    background-color: #0c70c3;
    color: #fff;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}
  
.column {
  flex: 1;
  padding: 10px;
  text-align: center;
}